@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';





@keyframes toast-blink {
  0%   { transform: translate(-50%, -60px); opacity: 0; }
  20%  { transform: translate(-50%, 0); opacity: 1; }
  80%  { transform: translate(-50%, 0); opacity: 1; }
  100% { transform: translate(-50%, -60px); opacity: 0; }
}

.toast-animate {
  animation: toast-blink 2s ease-in-out forwards;
}


/* drawer CSS */
 div::-webkit-scrollbar {
            display: none;
        }